{% extends 'app_user/usercommon.html' %}
{% load static %}
{% block common %}
    <br>
    <br>
    <br>
    <table align="center">
         <tr style="color: greenyellow;background-color: black"align="center">
             <th width="1500"> Free Movies </th>
         </tr>
         <tr>
             <th>
                 <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                 <div class="carousel-inner">
                 <div class="carousel-item active"align="center">
                  <img src="{% static 'images/dil-bechara.webp' %}" class="d-block w-60"
                      alt="..."height="300"width="1000">
                 </div>
                 <div class="carousel-item"align="center">
                    <img src="{% static 'images/laxmibomb.jpg' %}" class="d-block w-60"
                         alt="..."height="300"width="1000">
                 </div>
                 <div class="carousel-item"align="center">
                    <img src="{% static 'images/bulbul.jpg' %}" class="d-block w-60"
                         alt="..."height="300"width="1000">
                 </div>
                 </div>
                 </div>
             </th>
         </tr>
        <tr>
            <th height="20"></th>
        </tr>
         <tr align="center">
             <th>

             </th>
         </tr>
    </table>
{% endblock %}