
{% extends 'app_admin/admin_common.html' %}
{% load static %}
{% block common %}
    <br>
    <br>
    <br>
    <br>
    <table align="center"border="3" cellpadding="5">
    <tr align="center" style="background-color: blue;color: white;font-size: 25px">
        <th colspan="3">Admin Page</th>
    </tr>
    <tr>
        <th>
            <a href="{% url 'addmovie' %}">
             <button type="button" class="btn btn-success btn-lg">Add Movie</button>
            </a>
        </th>
        <th>
            <button type="button" class="btn btn-success btn-lg">Edit Movie</button>
        </th>
        <th>
            <button type="button" class="btn btn-success btn-lg">Remove Movie</button>
        </th>
    </tr>
    </table>
{% endblock %}